.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__arrow {
        position: absolute;
        z-index: 20;
        right: 0;
        margin-top: 25px;
        cursor: pointer;
        &_left {
            right: auto;
        }
    }
    &__arrow-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__arrow-img {
        width: 100px;
        filter: invert(1);
        &:hover {
            filter: blur(2px);
        }
        &_left {
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }
    }
    &__section-hello{
        display: none;
        &.active {
            display: flex;
        }
    }
}