.section-hello {
    height: 680px;            
    &__img {
        filter: brightness(75%);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
    &__content-wrapper {
        z-index: 1;        
    }
    &__name {
        margin-top: 25px;
        color: white;
        font-size: 80px;
        border: 3px solid white;
        padding: 10px 100px 5px 25px;
    }
    &__greeting {
        color: white;
        font-size: 25px;
        text-align: center;
    }    
}

.section-about {
    background-color: rgb(255, 255, 255);    
    height: 920px;                
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__icon{
        width: 200px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    &__header {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__main {
        display: flex;
        justify-content: center;
        flex-direction: row; 
    }
    &__img {
        width: 300px;
        height: 385px;
        &_right {
            float: right;
        }
    } 
    &__item {
        color: grey;
        margin-right: 40px;
        width: 33.3333%;
        &:last-child {
            margin: 0;
        }
        
    }
    &__complex {
        margin-bottom: 25px;
        font-size: 18px;   
    }
    &__complex-img {
        width: 180px;
        float: right;
    }
}
